<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <app-artwork-display [type]="'album'" [title]="'New Releases'" [item]="albums"  ></app-artwork-display>
  <app-artwork-display [type]="'playlist'" [title]="'['+playlist.country+'] '+playlist.title" [item]="playlist" *ngFor="let playlist of recommendedPlaylist"  ></app-artwork-display>
</ion-content>
