<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of categories" (click)="accederCategoria(item.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.icons[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>