<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackButton><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Album
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content scrollEvents="true"  [fullscreen]="true" *ngIf="data" >


  <!-- Image of the album -->
  <div class="ion-text-center image-box" #cover>
    <img [src]="album?.images[0].url" *ngIf="data">
  </div>

  <!-- Rest of the page content -->
  <div class="main">

    <!-- General information -->
    <ion-row>
      <ion-col size="12" class="album-info">
        <p *ngFor="let artist of album.artists">{{ artist.name | uppercase }}</p>
        <span>Album {{ album.name | uppercase}} · {{ album.release_date | uppercase }}</span>
      </ion-col>
      <!--
      <ion-col size="8" class="ion-text-left ion-no-padding">
        <ion-button fill="clear" class="ion-no-margin">
          <ion-icon name="heart-outline" color="light" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="arrow-down-circle-outline" color="light" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="ellipsis-horizontal" color="light" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-text-right ion-no-padding">
        <ion-button fill="clear">
          <ion-icon name="play-circle" size="large" color="primary" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      -->
    </ion-row>

    <!-- List of tracks -->
    <ion-list>
      <ion-item *ngFor="let t of album.tracks.items" lines="none">
        <ion-label>{{ t.name }}
          <p> <span *ngFor="let a of t.artists">{{ a.name }} </span></p>
        </ion-label>
        <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
