<ion-app>
  <ion-router-outlet (animated)="true"></ion-router-outlet>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="categories">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="recommend">
        <ion-icon name="star"></ion-icon>
        <ion-label>Recommend</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  
  </ion-tabs>
  

</ion-app>
