

<ion-content>
  

  <div slot="fixed">
    
    <h1 class="ion-text-center disc">This page cannot be found :(</h1>
    <div class="rotating">
      <img  src="https://www.scdn.co/i/404/record.svg" alt="">
    </div>
    
  </div>
</ion-content>
