<ion-row class="ion-no-padding" >
  <!--  Section Title -->
  <ion-col size="9">
    <h2 class="section-header">{{title}}</h2>
  </ion-col>
<ion-slides [options]="opts">
  <ion-slide tappable  *ngFor="let node of getItemList()" (click)="accessNode(node)">
    <img [src]="node.images[0].url">
  </ion-slide>

</ion-slides>
</ion-row>