<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackButton><ion-icon name="arrow-back-outline" ></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="data">
      {{artist.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content scrollEvents="true"  [fullscreen]="true" *ngIf="data" >
  

  <!-- Image of the album -->
  <div class="ion-text-center image-box" #cover>
    <img [src]="artist?.images[0].url" *ngIf="data">
  </div>

  <app-artwork-display [type]="'album'" [title]="'Albums from '+artist.name" [item]="albums"  ></app-artwork-display>
  <ion-col size="9">
    <h2 class="section-header">Top Tracks</h2>
  </ion-col>
  <ion-list>
    <ion-item *ngFor="let t of topTracks" lines="none">
      <ion-label>{{ t.name }}
        <p> <span *ngFor="let a of t.artists">{{ a.name }} </span></p>
      </ion-label>
      <ion-icon slot="end" size="small" name="ellipsis-horizontal" color="light"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>