<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar #search (ionInput)="changeInput()"></ion-searchbar>
  </ion-toolbar>
  
  <ion-toolbar>

    
    <ion-chip [outline]="!searchType.selected"  color="success" *ngFor="let searchType of searchsType" (click)="selectType(searchType.code)">
      <ion-icon name="{{searchType.icon}}"></ion-icon>
      <ion-label> {{searchType.title}} </ion-label>
    </ion-chip>
    
  </ion-toolbar>
</ion-header>


<ion-content >

  
  <ion-list-header *ngIf="searchResults.artists.length > 0">
    <ion-label>Artists</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let item of searchResults.artists" [typeRedirect]="'artist'" [idRedirect]="item.id" appGoTo  >
      <ion-thumbnail slot="start" *ngIf="item.images.length > 0"  >
        <ion-img [src]="item.images[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-list-header *ngIf="searchResults.albums.length > 0">
    <ion-label>Albums</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let item of searchResults.albums" [typeRedirect]="'album'" [idRedirect]="item.id" appGoTo  >
      <ion-thumbnail slot="start">
        <ion-img [src]="item.images[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

  
  <ion-list-header *ngIf="searchResults.tracks.length > 0">
    <ion-label>Tracks</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let item of searchResults.tracks" [typeRedirect]="'track'" [idRedirect]="item.album.id" appGoTo  >
      <ion-thumbnail slot="start">
        <ion-img [src]="item.album.images[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

  
  <ion-list-header *ngIf="searchResults.playlist.length > 0">
    <ion-label>Playlists</ion-label>
  </ion-list-header>

  <ion-list>
    <ion-item *ngFor="let item of searchResults.playlist" [typeRedirect]="'playlist'" [idRedirect]="item.id" appGoTo  >
      <ion-thumbnail slot="start">
        <ion-img [src]="item.images[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>



  
</ion-content>