<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button appBackButton><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title *ngIf="data">
      Category: {{category.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list  *ngIf="data">
    <ion-item *ngFor="let item of playlist" (click)="accederPlaylist(item.id)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.images[0].url"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>